/* Begin reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

/* End reset */

/*Utility Classes  */

.nowrap {
    white-space: nowrap;
}

.hidden {
    position: absolute;
    left: -10000px;
}

/* End Utility Classes */

body {
    font-family:'Quicksand', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    /* background-image: 
        url(/assets/images/correto.png),
        linear-gradient(to left, steelblue, white);
    background-repeat: repeat-y, no-repeat;
    background-position: right center */
}

.clip {
    font-weight: 800;
    font-size: 10rem;
    text-align: center;
    background-image: url(/assets/images/pattern1.png);
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
     height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

.container {
    background-color: crimson;
    background-image: url('/assets/images/pattern1.png');
    background-repeat: repeat;
    background-position: center;
    background-size: contain;

}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 0%, 0.40);
}

.h1{
    color: white;
    font-size: 500%;
    text-shadow: 2px 2px 5px black;
    /*
    border-radius: 10px;
    padding: 0.25rem; */
}