/* the "*" applies universally */
* {
    font-family: monospace;
}

/* Type Selector */
body {
    font-size: 22px;
    border: 3px solid black;
    background-color: #161616;
    padding: 10px;
    margin: 10px;
}

main {
    font-family: monospace;

}

button, input, textarea, select {
    font: inherit;
}

/* applies to h1 AND h2 */
h1,h2 {
    color: blue;

}

/* only applies to h2's that are nested in h1's */
h1 h2 {
    color: blue;

}

/* reads first */
p {
    color: purple;

}

/* reads last, meaning it has priority over the first one */
p {
    color: white;
}

/* Class selector */
.highlight {
    text-transform: uppercase;
    background-color: gold;
}

.gray {
    color: gray;
}

/* Id selector */
#second {
    font-style: italic;
}

.red   {
    background-color: red;
}

/* Targets tags with correspondent classes */
div.red.green-text {
    background-color: red;
    color: green;
}

.italic {
    font-style: italic;
}

/* Sibilings // Selects every tag that comes after a specfic one*/
li.italic ~ li {
    color: aliceblue;
}

/* Selects the very next element */
li.red + li {
    font-weight: bold;
}

/* applies to input when on focus */
input:focus {
    background-color: red;
}

/* applies when checked */
input:checked {
    margin: 50px;
}

/* applies to the first child */
ul.childs li:first-child {
    background-color: red;
}

ul.childs li:nth-child(3) {
    background-color: blueviolet;
}

/* applies to the first child */
ul.childs li:last-child {
    background-color: blue;
}

/* Selects the odds */
ul.evrOther li:nth-child(2n) {
    background-color: black;
    color: white;
}

/* applies if the only child */
ul.alone li:only-child {
    background-color: crimson;
}

.box {
    border: black solid;
}

/* applies to first, nth, last of TYPE */
ul.types li:first-of-type {
    color: white;
}

ul.types li:last-of-type {
    color: white;
}

ul.colorClass li:not(.green) {
    background: crimson;
}

div.pos::before {
    content: 'Before ';
    background-color: crimson;
}

div.pos::after {
    content: ' After';
    background-color: #5500ff;
}

/* data */

[data-red="true" ] {
    background-color: crimson;
}


/* ^= start with */
[data-pur^="12" ] {
    background-color: #5500ff;
}

/* $= ends with */
[data-red$="4" ] {
    background-color: crimson;
}

/* *= has */
[data-red*="23"], [data-pur*="23"] {
    color: white;
}

