body {
    font-family: 'Quicksand', sans-serif;
    padding: 5%;
}

ol {
    list-style-type: upper-roman;
    /* list-style-type: none;
    padding: 0; */
}

ul {
    list-style-type: square;
    /* text-align: center;
    list-style-position: inside; */
    line-height: 1.6;
    list-style-image: url(/assets/images/correct.png);
    list-style: square url(/assets/icons/correct.png) inside;
}

ul li {
    color: green;
}

/* ul ::marker {
    color: green;
    content: "> ";
} */

