body {
    background-color: #333;
    color: whitesmoke;
}

table, tr, th , td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

.display {
    display: block;
}

.float {
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
}