body {
    background-color: #121212;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

table, tr, th , td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier;
    border-collapse: collapse;
    padding: 0.5rem;
}

.display {
    display: block;
}

.float {
    background: #eaeaed;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    padding: 4px;
}

header, footer{
    background-color: #272927;
    padding: 5px 20px;
}

footer{
    padding: 30px;
}

section, article {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #272927;
    border-left: 4px solid azure;
}

aside {
    width: 30%;
    float: right;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
    border-left: 4px solid azure;
    background-color: #272927;
}

.space {
    padding: 110px;
}

nav {
    background-color: #4B4F4B;
    border-radius: 10px;
    padding: 20px;
}

nav a {
    display: inline;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: white;
}

a {
    color: azure;
}

.boxed {
    margin: 20px;
    padding: 20px;
    background-color: #363A36;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
